.header  {
  display:flex;
  font-family: monospace;
  background: papayawhip;
  justify-content: space-between;
  align-items: center;
  
}

.logo {
  display:flex;
  font-size: 36px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  font-family: 'Righteous', cursive;
  align-items: center;

}


ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  font-family: 'Righteous', cursive;
  justify-content: space-between;
  padding: 0px;
  margin:0px;
  gap:8px
  /* border: dashed purple; */

}

a {
  font-size: 22px;
  background:white;
  margin: 24px;
  padding: 8px;
  /* border: dashed purple; */
  /* border: solid black; */
  /* this removes the line under the links */
  text-decoration: none;
  
}